/* styles.css */

body {
  margin: 0;
  padding: 0;
  background-image: url('BG.jpg');
  background-size: cover;
  font-family: 'Arial', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
}

h1 {
  font-family: 'Times New Roman', serif; /* Exemple : Changer 'Times New Roman' à la police souhaitée */
}

header {
  background-color: rgba(0, 0, 0, 0.5);
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 100%;
  color: rgb(137, 14, 218);
  position: relative; /* Ajout d'une position relative */
}

header img {
  position: absolute; /* Modification de la position à absolue */
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  width: 100px;
  height: 100px;
  border-radius: 10%;
  border: 3px solid rgb(137, 14, 218);
}


main {
  display: flex;
  justify-content: space-between;
  max-width: 1200px;
  margin: 20px auto;
}

form {
  margin-top: 100px;
  width: 40%;
  padding: 20px;
  border-radius: 8px;
}

/* Ajout de styles pour les input et les label */
form label {
  display: block; /* Les labels sont maintenant des blocs, pour les aligner verticalement */
  margin-bottom: 10px; /* Séparation de 10px entre les labels */
  font-family: 'Courier New', monospace;
  /*mettre en gras*/
  font-weight: bold;
}

form input {
  width: calc(100% - 20px); /* Largeur des champs de saisie, en tenant compte du padding de 20px */
  padding: 5px;
  margin-bottom: 10px; /* Séparation de 10px entre les champs de saisie */
}

form button {
  width: 100%; /* Le bouton occupe toute la largeur du formulaire */
  padding: 10px; /* Ajoutez un espace autour du texte du bouton */
  margin-top: 10px; /* Espacement par rapport aux champs de saisie */
  font-family: 'Verdana', sans-serif;
  background-color: rgb(137, 14, 218);
  color: rgb(0, 0, 0);
}

table {
  margin-top: 100px;
  border-collapse: collapse;
  width: 50%;
  border : 3px solid rgb(0, 0, 0);
}

/* Ajout de styles pour le text dans tableau */
table th {
  text-align: center;
  padding: 5px;
  font-family: 'Courier New', monospace;
  background-color: rgb(137, 14, 218);
  color: rgb(0, 0, 0);
}

/* Ajout de styles pour le text dans tableau les prenom et nom */
table td {
  background-color: rgba(0, 0, 0, 0.8);
  color: rgb(223, 10, 212);
  text-align: center;
  padding: 5px;
  font-family: 'Courier New', monospace;
}

/* Ajout de styles pour le boutton supprimer dans le tableau*/
table button {
  width: 100%; /* Le bouton occupe toute la largeur du formulaire */
  padding: 5px; /* Ajoutez un espace autour du texte du bouton */
  margin-top: 5px; /* Espacement par rapport aux champs de saisie */
  margin-bottom: 5px;
  font-family: 'Verdana', sans-serif;
  background-color: rgb(137, 14, 218);
  color: rgb(0, 0, 0);
  cursor: pointer;


}

 button:hover {
    transform: scale(1.1); /* Changez la taille selon vos besoins */
   transition: transform 0.2s; /* Ajoute une transition pour un effet plus fluide */
   background-color: rgb(223, 10, 212);
  
 }

 /* Styles pour les liens */
a {
  color: rgb(137, 14, 218); /* Couleur du lien (bleu par défaut) */
  text-decoration: none; /* Supprime le soulignement par défaut */
  transition: color 0.3s ease-in-out; /* Ajoute une transition pour un effet de fondu lors du survol */
}

a:hover {
  color: rgb(223, 10, 212); /* Change la couleur du lien au survol de la souris */
}

/* Styles pour les boutons */
.btn {
  display: inline-block;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
  border: 1px solid transparent;
  border-radius: 0.25rem;
  transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out, border-color 0.3s ease-in-out;
}

footer {
  background-color: rgba(0, 0, 0, 0.8);
  text-align: center;
  width: 100%;
  color: rgb(137, 14, 218);
  position: absolute;
  bottom: 0;
  font-size: 0.6em;
  letter-spacing: 0.1em;

}

body.index-page header a.btn[href="index.html"] {
  color: rgb(223, 10, 212); /* Couleur du texte */
  padding: 10px 20px; /* Ajustez le rembourrage selon vos préférences */
  text-decoration: none;
  border-radius: 5px;
}

body.liste-page header a.btn[href="Liste.html"] {
  color: rgb(223, 10, 212); /* Couleur du texte */
  padding: 10px 20px; /* Ajustez le rembourrage selon vos préférences */
  text-decoration: none;
  border-radius: 5px;
}

body.recup-page header a.btn[href="Recup.html"] {
  color: rgb(223, 10, 212); /* Couleur du texte */
  padding: 10px 20px; /* Ajustez le rembourrage selon vos préférences */
  text-decoration: none;
  border-radius: 5px;
}